<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 seconds">

    <contextName>demo</contextName>

    <property name="log.path" value="./logs" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="com.example.logback.filter.MyFilter" /> -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>INFO</level>
        </filter>
        <encoder>
            <pattern>[%contextName][%d{HH:mm:ss.SSS}][%-5level][%thread][%logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}/demo.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
		  <!-- 每天一归档 -->
		  <fileNamePattern>${log.path}/%d{yyyy-MM-dd}/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
		   <!-- 单个日志文件最多 100MB, 60天的日志周期，最大不能超过20GB -->
		   <maxFileSize>100MB</maxFileSize>    
		   <maxHistory>60</maxHistory>
		   <totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
		  <pattern>[%contextName][%d{HH:mm:ss.SSS}][%-5level][%thread][%logger{36}] - %msg%n</pattern>
		</encoder>
	</appender>
	
    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

<!--     <logger name="com.pfpj.user" level="DEBUG" /> -->

</configuration>